Comparing URIs with empty paths

QURI's `uri=` treats a URI with a path of `/` as different from an empty path:

    (uri= (uri "http://example.com") (uri "http://example.com/")) => NIL

RFC 3986 (§6.2.3) implies they should be equal:

> In general, a URI that uses the generic syntax for authority with an empty path should be normalized to a path of "/".